body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #9c9c9c;
    color: white;
}

header {
    background-color: #3c3c3c;
}

a {
    text-decoration: none;
    color: white;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#logo {
    margin: 10px 0 10px 100px;
    width: 85px;
    float: left;
}

#basket {
    margin: 10px 100px 0 0;
    width: 65px;
}

#basketText {
    margin: 0 0 10px 2px;
}

.first-element {
    background-color: #353535;
    padding: 0 25px 0 25px;
    border-radius: 10px;
    width: 230px;
}

#menu li {
    border-bottom-width: 2.5px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: white; /* Цвет линии внизу */
    font-size: 20px;
    list-style: none;
    margin: 12px 0 8px 0;
    padding-left: 0;
}

#menu {
    padding: 0;
}

#catalog {
    margin-top: 80px;
}

.flex-container2 .flex-element {
    margin-top: 35px;
}

/*.second-element {*/
    /*background-color: #4FC7A2;*/
    /*width: 720px;*/
    /*height: 400px;*/
/*}*/

.third-element {
    background-color: #ffffff;
    padding: 0 25px 0 25px;
    border-radius: 10px;
    width: 230px;
}

#price{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 60%;
    float: left;
}


#btn{
    font-family: "Noteworthy";
    margin-top: 40px;
    margin-bottom: 15px;
    width: 40%;
    height: 45px;
    border: none;
    border-radius: 8px;
    background: #4d4d4d;
    font-size: 20px;
    color: white;
}

#specialOffer {
    color: #9fa8a6;
    text-align: center;
}

/* ///////////////////////////// Стили для Special Offer ( Анимация приближения ) \\\\\\\\\\\\\\\\\\\\\\\ */


.specialOfferImg {
    overflow:hidden;
    width: 250px;
    height:230px;
}

.specialOfferImg img {
    width: 250px;
    height: 230px;
}

.specialOfferImg img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.specialOfferImg img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* ///////////////////////////// Стили для Special Offer ( Анимация приближения ) \\\\\\\\\\\\\\\\\\\\\\\ */
.arrow1 {
    width: 25px;
    margin-left: 60px;
}
.arrow2 {
    width: 25px;
    margin-left: 80px;
}
.arrow3 {
    width: 25px;
    margin-left: 110px;
}
.arrow4 {
    width: 25px;
    margin-left: 138px;
}


/* SLIDER */

#slider { /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
    margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img{ /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 700px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    float: left;
    margin: 0 0 0 -84px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
    float: right;
    margin: 0 -84px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active{ /*расположение блока с переключателями*/
    margin: 23% 0 0;
    text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
    background: #76c8ff;
    border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/* ***************************** */






/* ///////////////  ЕФЕКТ ПРИБЛИЖЕНИЯ ПРИ НАВЕДЕНИИ КУРСОРА для СТИКЕРПАКОВ \\\\\\\\\\\\\\\\\\\\\\\\\\ */

.imgStickerPack {
    margin: 12px 15px;
    overflow:hidden;
    width: 150px;
    height:130px;
}

.imgStickerPack img {
    width: 150px;
    height:130px;
}

.imgStickerPack img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.imgStickerPack img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* ///////////////  ЕФЕКТ ПРИБЛИЖЕНИЯ ПРИ НАВЕДЕНИИ КУРСОРА ||| КОНЕЦ \\\\\\\\\\\\\\\\\\\\\\\\\\ */


.flex-container3 {
    width: 100%;
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-elementStickerPack {
    margin: 40px 15px;
    margin-top: 25px;
    width: 180px;
    height: 230px;
    border-radius: 10px;
    background-color: white;
}

/*.imgStickerPack {*/
    /*margin: 12px 15px;*/
    /*width: 150px;*/
    /*height: 130px;*/
/*}*/

h4 {
    margin: 0;
}

.nameStickerPack {
    color: #b2b2b2;
    margin: 0 0 0 15px;
    padding: 0;
}

.btnStickerPack {
    font-family: "Noteworthy";
    width: 70px;
    height: 35px;
    border-radius: 5px;
    background-color: #585858;
    color: white;
    margin: 10px 15px 30px 90px ;
}


/* Flex container 4 */

footer {
    height: 80px;
    background-color: #2d2d2d;
}

#copyright {

}

.flex-container4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-container4 .flex-element {
    margin: 30px 100px;
    width: 300px;
}

#contact {
    float: left;
}

#telegramIcon {
    margin-left: 25px;
    border-radius: 5px;
    width: 20px;
    height: auto;
}

.NWfont{
    font-family: "Noteworthy";
}


@font-face {
    font-family: "Noteworthy";
    src: url("../Noteworthy-Lt.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*                                 АДАПТАЦИИ ПОД ТЕЛЕФОН                           */

/*         Адаптация под iPhone 4          */

@media (min-width: 320px) and (max-width: 480px) {


}

/* ________________________________________*/

/*         Адаптация под iPhone 5/SE       */

@media (min-width: 320px) and (max-width: 568px) {

}

/* _________________________________________*/

/*         Адаптация под iPhone 6/7/8       */

@media (min-width: 375px) and (max-width: 667px) {
.third-element {
    display: none;
}
}

/* ____________________________________________*/

/*         Адаптация под iPhone 6/7/8 Plus     */

@media (min-width: 414px) and (max-width: 736px) {

}

/* _____________________________________*/

/*         Адаптация под iPhone X       */

@media (min-width: 375px) and (max-width: 812px) {

}

/* ____________________________________*/

/*         Адаптация под Galaxy S5     */

@media (min-width: 360px) and (max-width: 640px) {

}

/* _____________________________________*/

/*        Адаптация под планшеты        */

/*          Адаптация под iPad          */

@media (min-width: 768px) and (max-width: 1024px) {

}

/* _____________________________________*/

/*          Адаптация под iPad Pro      */

@media (min-width: 1024px) and (max-width: 1366px) {

}


















