
.level-one {
    display: block;
}

.level-two {
    display: none;
}

.level-three {
    display: block;
}



body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #9c9c9c;
    color: white;
}

.content {
    height: 90%;
}

header {
    background-color: #3c3c3c;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo {
    margin: 10px 0 10px 100px;
    width: 85px;
    float: left;
}

#basket {
    margin: 10px 100px 0 0;
    width: 65px;
}

#basketText {
    margin: 0 0 10px 2px;
}

/*.level-one, .level-two, .level-three {*/
    /*margin: 0 22%;*/
/*}*/

/* Стили для футера */


footer {
    height: 80px;
    background-color: #2d2d2d;
}

#copyright {

}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

footer .flex-element {
    margin: 30px 100px;
    width: 300px;
}

#contact {
    float: left;
}

#telegramIcon {
    margin-left: 25px;
    border-radius: 5px;
    width: 20px;
    height: auto;
}

h4 {
    margin: 0;
}

/* Конец */

/* First Level */

.flex-container {
    margin: 3% 25%;
    border-radius: 20px;
    background-color: #e3e3e3;
    color: #4b4b4b;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1, p {
    margin-left: 30px;
}

/* CUBE LOADER */

.loader {
    margin: 0 auto 25px auto;
    width: 350px;
    height: 350px;
}

#cube-loader {
    align-items: center;
    display: flex;
    height: 350px;
    width: 350px;

}

#cube-loader .caption {
    margin: 0 auto;
}

#cube-loader .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
}

.cube {
    position: relative;
    transform: rotateZ(45deg);
    width: 50%;
    height: 50%;
    float: left;
    transform: scale(1.1);
}

.cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 73, 94, 1.0);
    animation: cube-loader 2.76s infinite linear both;
    transform-origin: 100% 100%;
}

.loader-2 {
    transform: scale(1.1) rotateZ(90deg);
}

.loader-3 {
    transform: scale(1.1) rotateZ(180deg);
}
.loader-4 {
    transform: scale(1.1) rotateZ(270deg);
}
.loader-2:before {
    animation-delay: 0.35s;
}
.loader-3:before {
    animation-delay: 0.69s;
}
.loader-4:before {
    animation-delay: 1.04s;
}

@keyframes cube-loader {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

/* End of styles for cube loader */

#upload {
    margin: 0 5% 5% 75%;
    font-size: 18px;
    color: #E3E3E3;
    background-color: #4D4D4D;
    border-radius: 15px;
    height: 50px;
    width: 160px;
    cursor: pointer;
}
/* The end */

/* Second Level */


.stickerPlace {
    margin: 0 auto 25px auto;
    width: 350px;
    height: 350px;
}

.stickerPlace img {
    width: 350px;
    height: 350px;
}

.info-block {
    background-color: white;
    width: 50%;
    margin: 15px 45% 15px 5%;
    border-radius: 0 30px 0px 30px;
}

.info-block h5 {
    margin: 15px 25px;
}

.info-block textarea {
    border-radius: 10px;
    margin-left: 25px;
    width: 200px;
    height: 75px;
}

/* Адаптация инпутов */

#stickerWidth input {
    margin-left: 10px;

}

#stickerHeight input {
    margin-left: 14px;
}

#stickerQuantity input {
    margin-left: 3px;
}

#yourEmail input {

}



/* Конец адаптации для инпутов */



/* Стили для инпутов */



/* Конец стилей для инпутов */

#send {
    margin: 0 5% 5% 75%;
    font-size: 14px;
    color: #E3E3E3;
    background-color: #4D4D4D;
    border-radius: 15px;
    height: 50px;
    width: 170px;
    cursor: pointer;
}

/* Thirdy lvl */

.check {
    margin: 0 auto 25px auto;
    width: 500px;
    height: 500px;
}

.check img {
    height: 250px;
    width: auto;
    margin: 50px 0 20px 125px;
}

.check h1 {
    padding: 0;
    margin: 30px 0 10px 80px;
}

.forComeBackBTN {
    width: 100%;
}

#come-back {
    margin: 0 0 5% 65%;
    font-size: 18px;
    color: #E3E3E3;
    background-color: #4D4D4D;
    border-radius: 15px;
    height: 40px;
    width: 220px;
    cursor: pointer;
}

#come-back span {
    text-decoration: none;
    margin: 25px 0 0 15px;
}

/* Конец стилей для 3 лвл */




.NWfont{
    font-family: "Noteworthy";
}


@font-face {
    font-family: "Noteworthy";
    src: url("../../Noteworthy-Lt.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}